<div>
  <form method='post' action='/session/login'>
    <input id='email' name='email' placeholder='email' type='text' />
    <input id='pass' name='pass' placeholder='pass' type='text' />
    {{! <input id='firstName' name='firstName' placeholder='firstName' type='text' />
    <input id='lastName' name='lastName' placeholder='lastName' type='text' /> }}
    <input type='submit' value='login!' />
  </form>
  <a href='/session/register'>register</a>
</div>