<div>
  <h1>bienvenido</h1>
  user:
  {{user.email}}
  <br />
  admin:
  {{user.isAdmin}}
  <br />
  <br />

  <a href='/session/logout'>logout</a>
  <br />

  <a href='/secret'>ver secreto</a>
</div>