<div>
  <form method='post' action='/session/register'>
    <input id='email' name='email' placeholder='email' type='text' />
    <input id='pass' name='pass' placeholder='pass' type='text' />
    <input id='firstName' name='firstName' placeholder='firstName' type='text' />
    <input id='lastName' name='lastName' placeholder='lastName' type='text' />
    <input type='submit' value='register!' />
  </form>
  <a href='/session/login'>login</a>

</div>